@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-blue: #0A0060;
  --color-brand-blue-light: #140882;
  --color-brand-orange: #F4740D;
  --color-brand-orange-light: #FF8A29;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased font-sans;
  }
}
